<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title th:text="#{settings.title}"/>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <div class="container aligned-margines">
        <div class="container window aligned-margines">
            <div class="row col-12">
                <h2 class="table-head-title" th:text="#{settings.change}"/>
            </div>
            <form th:object="${user}" th:action="@{/user/settings/change/}" method="post">
                <input th:field="*{id}" th:value="*{id}" name="modifiedId" hidden>
                <div class="row offset-md-1 col-md-10">
                    <div class="col-6">
                        <label for="username" th:text="#{username}"/>
                    </div>
                    <div class="col-6">
                        <label class="form-control roundless" type="text" id="username" name="username"
                               th:text="*{username}"/>
                    </div>
                </div>
                <div class="row offset-md-1 col-md-10">
                    <div class="col-6">
                        <label for="name" th:text="#{settings.name}"/>
                    </div>
                    <div class="col-6">
                        <input required class="form-control roundless" type="text" id="name" th:field="*{name}">
                    </div>
                </div>
                <div class="row offset-md-1 col-md-10">
                    <div class="col-6">
                        <label for="surname" th:text="#{settings.surname}"/>
                    </div>
                    <div class="col-6">
                        <input required class="form-control roundless" type="text" id="surname" name="surname"
                               th:field="*{surname}">
                    </div>
                </div>
                <div class="row offset-md-1 col-md-10">
                    <div class="col-6">
                        <label for="email" th:text="#{settings.email}"/>
                    </div>
                    <div class="col-6">
                        <input class="form-control roundless" type="email" id="email" name="email"
                               th:field="*{email}">
                    </div>
                </div>
                <div class="row offset-md-1 col-md-10">
                    <div class="offset-6 col-6">
                        <input class="form-control button roundless" type="submit" th:value="#{settings.confirm}">
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <div class="container window aligned-margines">
            <div class="row col-12">
                <h2 class="table-head-title" th:text="#{settings.change.password.title}"/>
            </div>
            <form th:object="${user}" th:action="@{/user/settings/changePassword/}"
                  method="post">
                <input th:field="*{id}" th:value="*{id}" name="modifiedId" hidden>
                <div class="row offset-md-1 col-md-10">
                    <div class="col-6">
                        <label for="old-password" th:text="#{settings.old.password}"/>
                    </div>
                    <div class="col-6">
                        <input class="form-control roundless" type="password" id="old-password" name="old-password"
                               th:field="*{oldPassword}">
                    </div>
                </div>
                <div class="row offset-md-1 col-md-10">
                    <div class="col-6">
                        <label for="password-field" th:text="#{settings.password}"/>
                    </div>
                    <div class="col-6">
                        <input required class="form-control roundless" type="password" id="password-field"
                               name="password">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>
                <div class="row offset-md-1 col-md-10">
                    <div class="col-6">
                        <label for="confirm-password" th:text="#{settings.password.confirm}"/>
                    </div>
                    <div class="col-6">
                        <input required class="form-control roundless" type="password" id="confirm-password"
                               name="confirm-password" th:field="*{confirmPassword}">
                    </div>
                </div>
                <div class="row offset-md-1 col-md-10">
                    <div class="offset-6 col-6">
                        <input class="form-control button roundless" type="submit" th:value="#{settings.confirm}">
                    </div>
                </div>
                <script>$(".toggle-password").click(function () {

                    $(this).toggleClass("fa-eye fa-eye-slash");
                    var input = $($(this).attr("toggle"));
                    if (input.attr("type") == "password") {
                        input.attr("type", "text");
                    } else {
                        input.attr("type", "password");
                    }
                });
                </script>
            </form>
        </div>
        <hr>
        <hr>
        <div class="container window aligned-margines">
            <div class="row col-12">
                <h2 class="table-head-title" th:text="#{settings.logs.title}"/>
            </div>
            <div class="row" th:each=" event : ${currentUser.getApplicationEvents()}">
                <div class="row offset-md-1 col-md-10 negative-event" th:if="${event.getEvent().contains('failed')}">
                    <div class="offset-2" th:text="${event.getEvent()}"/>
                </div>
                <div class="row offset-md-1 col-md-10 positive-event" th:if="${event.getEvent().contains('success')}">
                    <div class="offset-2" th:text="${event.getEvent()}"/>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>
