<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title th:text="#{login}"/>
</head>
<body>
<!--<header th:replace="template :: navigator"></header>-->
<div id="hideMe" class="warning-nav" th:if="${error_message}">
    <div th:text="${error_message}"></div>
</div>

<main role="main" class="container">
    <h1 class="table-head-title" th:text="#{login}"/>
    <form th:action="@{/login}" method="post">
        <div class="row offset-md-1 col-md-10">
            <div class="col-6">
                <label for="username" th:text="#{username}"/>
            </div>
            <div class="col-6">
                <input class="form-control roundless" type="text" id="username" name="username">
            </div>
        </div>
        <div class="row offset-md-1 col-md-10">
            <div class="col-6">
                <label for="password" th:text="#{password}"/>
            </div>
            <div class="col-6">
                <input class="form-control roundless" type="password" id="password" name="password">
            </div>
        </div>
        <div class="row offset-md-1 col-md-10">
            <div class="offset-6 col-6">
                <input class="form-control button roundless" type="submit" th:value="#{login}">
            </div>
        </div>
        <h1 class="table-head-title" th:text="#{dont.have.account}"/>

        <div class="row offset-md-1 col-md-10">
            <div class="offset-6 col-6">
                <a class="form-control button roundless" th:href="@{/register}" th:text="#{register}"/>
            </div>
        </div>
    </form>
</main>

<!--<footer th:replace="template :: foot">-->
<!--</footer>-->
<div th:replace="template :: scripts">
</div>
</body>
</html>